.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build

.gradle
.idea
gradle

build
HttpClientProject.iml

gradlew.bat
gradlew

gradle.properties
local.properties
settings.gradle